# IDES
/.idea/
/out/
/.fleet/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Default ignored files
/shelf/
/workspace.xml
*.iml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Compiled class file
*.class

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Log file
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/src/EV2/AgendaProgramacion/AgendaProgramacion/.editorconfig
/src/EV2/AgendaProgramacion/AgendaProgramacion/.gitattributes
/src/EV2/AgendaProgramacion/AgendaProgramacion/.idea/.gitignore
/src/EV2/AgendaProgramacion/AgendaProgramacion/img/.gitignore
/src/EV2/AgendaProgramacion/AgendaProgramacion/.gitignore
/src/EV2/AgendaProgramacion/AgendaProgramacion/.htaccess
/src/EV2/AgendaProgramacion/AgendaProgramacion/404.html
/src/EV2/AgendaProgramacion/AgendaProgramacion/browserconfig.xml
/src/EV2/AgendaProgramacion/AgendaProgramacion/doc/css.md
/src/EV2/AgendaProgramacion/AgendaProgramacion/doc/extend.md
/src/EV2/AgendaProgramacion/AgendaProgramacion/doc/faq.md
/src/EV2/AgendaProgramacion/AgendaProgramacion/favicon.ico
/src/EV2/AgendaProgramacion/AgendaProgramacion/googleStyleGuide.html
/src/EV2/AgendaProgramacion/googleStyleGuide.html
/src/EV2/AgendaProgramacion/AgendaProgramacion/doc/html.md
/src/EV2/AgendaProgramacion/AgendaProgramacion/humans.txt
/src/EV2/AgendaProgramacion/AgendaProgramacion/icon.png
/src/EV2/AgendaProgramacion/AgendaProgramacion/index.html
/src/EV2/AgendaProgramacion/index.html
/src/EV2/AgendaProgramacion/AgendaProgramacion/doc/js.md
/src/EV2/AgendaProgramacion/AgendaProgramacion/LICENSE.txt
/src/EV2/AgendaProgramacion/AgendaProgramacion/css/main.css
/src/EV2/AgendaProgramacion/AgendaProgramacion/js/main.js
/src/EV2/AgendaProgramacion/AgendaProgramacion/doc/misc.md
/src/EV2/AgendaProgramacion/AgendaProgramacion/js/vendor/modernizr-3.11.2.min.js
/src/EV2/AgendaProgramacion/AgendaProgramacion/.idea/modules.xml
/src/EV2/AgendaProgramacion/AgendaProgramacion/css/normalize.css
/src/EV2/AgendaProgramacion/AgendaProgramacion/package.json
/src/EV2/AgendaProgramacion/AgendaProgramacion/package-lock.json
/src/EV2/AgendaProgramacion/AgendaProgramacion/.idea/php.xml
/src/EV2/AgendaProgramacion/AgendaProgramacion/js/plugins.js
/src/EV2/AgendaProgramacion/AgendaProgramacion/robots.txt
/src/EV2/AgendaProgramacion/AgendaProgramacion/site.webmanifest
/src/EV2/AgendaProgramacion/AgendaProgramacion/styles.css
/src/EV2/AgendaProgramacion/styles.css
/src/EV2/AgendaProgramacion/AgendaProgramacion/terminologia.html
/src/EV2/AgendaProgramacion/terminologia.html
/src/EV2/AgendaProgramacion/AgendaProgramacion/tile.png
/src/EV2/AgendaProgramacion/AgendaProgramacion/tile-wide.png
/src/EV2/AgendaProgramacion/AgendaProgramacion/doc/TOC.md
/src/EV2/AgendaProgramacion/AgendaProgramacion/doc/usage.md
/src/EV2/AgendaProgramacion/AgendaProgramacion/.idea/vcs.xml
